Repository skillvrn/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

.gitlab-ci.yml:

variables:
  VERSION: 1.0.${CI_PIPELINE_ID}

stages:
  - module-pipelines

frontend:
  stage: module-pipelines
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    strategy: depend # depend нужен, если какой-нибудь дочерний пайплайн свалился, мы знали, что общий пайплайн тоже идёт с ошибкой
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - changes:
        - frontend/*
      when: always

backend:
  stage: module-pipelines
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - changes:
        - backend/*
      when: always

add dependency in pom for mongodb
  backend/pom.xml
Due: backend

fix: change Postgresql JDBC Driver in POM
  backend/pom.xml
Due: backend

adding reports and scheduler in backend
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.jav
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
Due: none

Adding mongodb connection property
  backend/src/main/resources/application.properties
Due: none

Changed application.properties in test of back
  backend/src/test/resources/application.properties
Due: none

Adding DBs credentials to deploy and VARs in Gitlab
  backend/.gitlab-ci.yml
  backend/deploy-backend.sh
Due: backend

Added mongodb connection in exec script of systemd unit
  backend/sausage-store-backend.service
Due: backend

Added Dockerfile for backend
  backend/Dockerfile
Due: backend

Added Dockerfile for frontend
  frontend/Dockerfile
Due: frontend

Added dockerignore files to front and back
  backend/.dockerignore
  frontend/.dockerignore
Due: frontend, backend

Updated gitignore
  .gitignore
Due: none

Edited gitlab-ci.yml for back to use Docker
  backend/.gitlab-ci.yml
Due: backend

Added Sonarqube SAST in back CI
  backend/.gitlab-ci.yml
Due: backend

Edited gitlab-ci.yml for front to use Docker
  frontend/.gitlab-ci.yml
Due: frontend

Added test docker health in front CI
  frontend/.gitlab-ci.yml
Due: frontend

Added some rules in jobs for front CI/CD
  frontend/.gitlab-ci.yml
Due: frontend

Edited deploy script for back to use Docker
  frontend/deploy-frontend.sh
Due: frontend

Edited deploy script for front to use Docker
  backend/deploy-backend.sh
Due: backend

Changed URLs for images to S3 storage
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
Due: none

Added Gitlab SAST in CI/CD for front and back
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

Removed unit files for front and back
  backend/sausage-store-backend.service
  frontend/sausage-store-frontend.service
Due: frontend, backend

Removed Nexus connection from back
  backend/settings.xml
Due: backend

Changed CI/CD to use Vault
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/Dockerfile
  backend/deploy-backend.sh
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/db/migration/V001__create_tables.sql
  backend/src/main/resources/db/migration/V002__alter_tables.sql
  backend/src/test/resources/application.properties
  frontend/.gitlab-ci.yml
  frontend/deploy-frontend.sh
Due: frontend, backend

Added ReportRepository.java file in backend
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
Due: none

Separated containers to the different microservices. Added extra reports
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/deploy-backend.sh
  backend/pom.xml
  frontend/.gitlab-ci.yml
  frontend/deploy-frontend.sh
Due: frontend, backend

Added separate service
  backend-report/.gitlab-ci.yml
  backend-report/Dockerfile
  backend-report/README.md
  backend-report/app/handlers/health.handler.go
  backend-report/app/models/health.model.go
  backend-report/app/repositories/report/report.repository.go
  backend-report/app/services/health/health.service.go
  backend-report/app/services/health/health.service_test.go
  backend-report/app/services/report/report.service.go
  backend-report/config/config.go
  backend-report/deploy-backend-report.sh
  backend-report/docs/docs.go
  backend-report/go.mod
  backend-report/go.sum
  backend-report/main.go
  backend-report/routes/api.go
  backend-report/utility/common.go
  backend-report/utility/errors.go
  backend-report/utility/handler.go
  docker-compose.yml
Due: none

Added scaling for backend (2 nodes)
  backend/deploy-backend.sh
Due: backend

Removed test frontend container from CI
  frontend/.gitlab-ci.yml
Due: frontend

Changed Dockerfile for frontend
  frontend/Dockerfile
Due: frontend

Added nginx.tmpl file as template for scaling
  frontend/nginx.tmpl
Due: frontend

Changed front service in docker-compose for using nginx
  docker-compose.yml
Due: none

Added actuator dependency in SpringBoot
  backend/pom.xml
Due: backend

Added curl installation in Dockerfile for backend
  backend/Dockerfile
Due: backend

Changed docker-compose.yml to use blue-green deployment
  docker-compose.yml
Due: none

Added sensitive files in gitignore
  .gitignore
Due: none

Edited deploy script for backend to use blue-green deployment
  backend/deploy-backend.sh
Due: backend

Added old images cleaning for deploy scripts
  backend-report/deploy-backend-report.sh
  frontend/deploy-frontend.sh
Due: frontend

Optimised deploy script for backend
  backend/deploy-backend.sh
Due: backend
